@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    scroll-behavior: smooth;
    background: #FFFFFF;
    font-family: "Inter", sans-serif;
}

.header{
    margin-bottom: 84px;
    padding: 40.5px 0px;
    margin-left: 373px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: right;
    text-align: center;
}

.bigLogo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    text-align: center;
    
}
.navigation{
    margin-left: 460px;
    margin-right: 74px;
    margin-bottom: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: right;
    gap: 24px;
}

.navigation a {
    color: rgb(10, 10, 10);
    font-size: 14px;
    font-weight: 400;
    border: none;
}

.navigation .home {
    color: rgb(242, 88, 34);
    font-size: 14px;
    font-weight: 600;
}

.container {
    max-width: 1174px;
    margin: 0 auto;
    position: relative;
}

.mainContent{
display: flex;
justify-content: space-between;
padding-bottom: 100px;
}

.mainContent__leftSide h1 {
    color: rgb(0, 0, 0);
    font-size: 60px;
    font-weight: 700;
    line-height: 120%;
    text-align: left;
    margin-bottom: 32px;
}

.mainContent__leftSide p {
    color: rgb(136, 136, 136);
    font-size: 20px;
    font-weight: 400;
    line-height: 140%;
    text-align: left;
    margin-bottom: 32px;
}

.mainContent__leftSide-btnList {
    display: flex;
    gap: 48px;
    align-items: center;
}

.mainContent__leftSide-btnList .startNow {
    width: 140px;
    height: 51px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 10px 16px 10px;
    flex: none;
    border-radius: 56px;
    background: rgb(242, 88, 34);
    color: rgb(255, 255, 255);
    
}

.mainContent__leftSide-btnList .watchVideo {
    color: rgb(170, 170, 170);
    background: none;
}

button {
    font-size: 16px;
    font-weight: 600;
    text-align: left;
    border: none;
    cursor: pointer;
}

.logos {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 100px;
}

.features {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-top: 100px;
    padding-bottom: 100px;
    gap: 61px;
    background: rgb(255, 255, 255);
}

.h2Propperty {
    width: 235px;
    height: 29px;
    margin: 18px 0px;
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    text-align: left;
}

.pPropperty {
    width: 310px;
    height: 42px;
    margin: 18px 0px;
    color: rgb(102, 102, 102);
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    text-align: left;
}

.readMore {
    width: 85px;
    height: 21px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: 600;
    line-height: 150%;
    text-align: left;
    background: rgb(255, 255, 255);
    padding-top: 25px;
    }

.featuresPropperty {
    width: 310px;
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 40px 0px;
}

.bigProperty {
    box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
    padding: 40px 34px;
}

.Vector {
    position: absolute;
}
.Vector1 {
    width: 27.78px;
    height: 25px;
    margin: 20px;
}
.Vector2 {
    width: 16.67px;
    height: 22.92px;
    margin: 24px;
}
.Vector3{
    width: 18.76px;
    height: 18.75px;
    margin: 27px;
}

.allServices {
    max-width: 100%;
    background: rgb(250, 250, 250);
    padding: 100px 373px 100px 373px;
}

.h1Text {
    color: rgb(0, 0, 0);
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 24px;
}

.pText {
    color: rgb(136, 136, 136);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    gap: 24px;
}


.servicesBlock {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    padding-top: 48px;
    padding-bottom: 100px;
    gap: 20px;
    align-items: center;
}

.services {
    background: rgb(255, 255, 255);
    width: 378px;
    height: 542px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 34px 34px 34px;
    gap: 32px;
}

.optimisation {
    box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
    background: rgb(255, 255, 255);
}

.h2Services {
    position: static;
    width: 310px;
    height: 29px;
    gap: 16px;
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    text-align: center;
}

.pServices {
    position: static;
    width: 310px;
    height: 72px;
    color: rgb(102, 102, 102);
    gap: 16px;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    text-align: center;
}

.learnMore {
    width: 166px;
    height: 51px;
    margin-bottom: 34px;
    padding: 16px 32px 16px 32px;
    align-items: center;
    justify-content: center;
    gap: 24px;
    border-radius: 56px;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.2);
    background: rgb(242, 88, 34);
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    text-align: center;

}